.work-card {
  padding: 8px;
  width: 45%;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.work-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.work-logo {
  height: 80px;
}

.work-dates {
  color: gray;
}

.work-desc {
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: horizontal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

@media screen and (max-width: 720px) {
  .work-card {
    width: 100%;
  }
}

.work {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0px;
}
