.social-contact {
  display: flex;
  justify-content: center;
}

.social-contact img {
  padding: 6px;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
  .social-contact img {
    height: 72px;
  }
}

@media screen and (max-width: 370px) {
  .social-contact img {
    height: 50px;
  }
}
